<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <header></header>
    <main>
        <div>
            <img src="../img/gryffindor.png" alt="">
    
            <form action="/house_name/characters" method="POST">
                <input type="hidden" name="house" value="gryffindor">
                <button type="submit">gryffindor</button>
            </form>
        </div>
    
        <div>
            <img src="../img/hufflepuff.png" alt="">
    
            <form action="/house_name/characters" method="POST">
                <input type="hidden" name="house" value="hufflepuff">
                <button type="submit">hufflepuff</button>
            </form>
        </div>
    
        <div>
            <img src="../img/ravenclaw.png" alt="">
    
            <form action="/house_name/characters" method="POST">
                <input type="hidden" name="house" value="ravenclaw">
                <button type="submit">ravenclaw</button>
            </form>
        </div>
    
        <div>
            <img src="../img/slytherin.png" alt="">
    
            <form action="/house_name/characters" method="POST">
                <input type="hidden" name="house" value="slytherin">
                <button type="submit">slytherin</button>
            </form>
        </div>
    </main>
   <footer></footer>
</body>
</html>